#{extends 'main.html' /}

#{set title:'Modul ' + modul?.nazev /}

#{ifErrors}
    <p class="error">
        Opravte chyby ve formuláři!
    </p>
#{/ifErrors}

#{form @mySave(modul?.id)}
  <input type="hidden" name="modul.nazev" id="modul.nazev" value="${modul?.nazev}">


  #{field 'modul.vedouciLekari'}
  <p>
    <label>&{field.name} </label>
    <textarea id="${field.id}" name="${field.name}" class="${field.errorClass} noResize">${modul?.vedouciLekari}</textarea>
    #{ifError field.name}<span class="error">${field.error} </span>#{/ifError}
  </p>
  #{/}

  #{field 'modul.uvolnujiAnalyzu'}
  <p>
    <label>&{field.name} </label>
    <textarea id="${field.id}" name="${field.name}" class="${field.errorClass} noResize">${modul?.uvolnujiAnalyzu}</textarea>
    #{ifError field.name}<span class="error">${field.error} </span>#{/ifError}
  </p>
  #{/}

  #{field 'modul.provadiAnalyzu'}
  <p>
    <label>&{field.name} </label>
    <textarea id="${field.id}" name="${field.name}" class="${field.errorClass} noResize">${modul?.provadiAnalyzu}</textarea>
    #{ifError field.name}<span class="error">${field.error} </span>#{/ifError}
  </p>
  #{/}

  #{field 'modul.typyMaterialu'}
  <p>
    <label>&{field.name} </label>
    <textarea id="${field.id}" name="${field.name}" class="${field.errorClass} noResize">${modul?.typyMaterialu}</textarea>
    #{ifError field.name}<span class="error">${field.error} </span>#{/ifError}
  </p>
  #{/}

<p>
  <label>&nbsp; </label>
  <small>Pozn.: oddělovačem položek je středník</small>
</p>
    <p>
        <input type="submit" value="Uložit" />
    </p>

#{/form}

