#{extends 'main.html' /}

#{ifnot modul?.id}
    #{set title:'Nový modul' /}
#{/ifnot}
#{else}
    #{set title:'Modul ' + modul.nazev /}
#{/else}

#{ifErrors}
    <p class="error">
        máš tu chyby vole
    </p>
#{/ifErrors}

#{form @mySave(modul?.id)}

  #{field 'modul.nazev'}
  <p>
    <label>&{field.name}</label>
    <input type="text" id="${field.id}" name="${field.name}" value="${modul?.nazev}" class="${field.errorClass}">
    <span class="error">${field.error}</span>
  </p>
  #{/}

    <p>
        <input type="submit" value="Uložit" />
    </p>

#{/form}

