body {
/*background: #FCFCFC url('../images/header.png') repeat-x;*/
background-color: #F4F4F4;
font-family: Arial,sans-serif;
}

#header {
  height: 35px;
}
#header h1 {
  float: left;
  margin: 0;
  color: #1D5987;
  border: none;
}

#header p {
  float: right;
  text-align: right;
  margin: 0;
}


#menu {
  
}

#footer {
border-top: 1px solid grey;
}
#footer li, #menu li {
float: left;
margin-right: 1em;
list-style-type: none;
}
#footer ul, #menu ul {
padding: 0;
}

form label {width: 10em; margin: 0.5em; display: inline-block; vertical-align: top; }
form fieldset.genotyp label {width: 15em;font-weight: normal;}
form fieldset {margin-top: 1em;}
label.required {color: #CC0000;}
label.required:after {content: "*";}
form p {margin: 0; padding: 0;}
form input {width: 10em;}
form input[type=submit] {margin-left: 10em;}
#crudListSearch form input[type=submit] {margin-left: auto;}
form input[type=submit],form input[type=checkbox] {width: auto;}
form input[type=checkbox] {width: auto; margin: 0.5em 0;}
form .infoInput {margin: 0.5em 0; display: inline-block;}
form input[type=file] {width: auto;}
textarea {height: 50px;}
form .error {padding:0.2em 1em; color: #CC0000; border-width: 1px;}
form .error {background: #fff; border: none;}

form .hasError {border: 1px solid #CC0000;}

thead th {border: 1px solid #A6C9E2;}
table  {border: 1px solid #A6C9E2;}

h1,h2,h3 {color: #1D5987; border-bottom: 1px solid #1D5987;}
.container {
  border: 1px solid #C8C8C8;
  padding: 20px;
  border-top: none;
  background: #fff url('../images/main.png') repeat-x;
  margin-bottom: 20px;
}

#pacTable td span, #biomatTable td span {display: none;}

.hWithButton {
  margin-top: 2em;
  margin-bottom: 0.5em;
}
.hWithButton h2 {
  display: inline;
  border: none;
}
.hWithButton span.button{
  display: inline;
  float: right;
}

span.delete{
  margin-left: 10em;
}

.datumCasW {width: 12em;}
.datumW {width: 10em;}
.parafaW {width: 5em;}

.vShortW {width: 2.5em;}
.shortW {width: 5em;}
.longW {width: 15em;}
.vLongW {width: 30em;}
