body {
background: #FCFCFC url('../images/header.png') repeat-x;

}
#header {
  height: 50px;
}
#header h1 {
  float: left;
  margin: 0;
  color: #1D5987;
  border: none;
}

#header p {
  float: right;
  text-align: right;
  margin: 0;
}


#main {

}

#footer {
background-color: #C3D9FF;
display: none;
}

form label {width: 10em; margin: 0.5em; display: inline-block; vertical-align: top;}
label.required {color: #CC0000;}
form p {margin: 0;}
form input[type=submit] {margin-left: 10em;}
/*
input[type=text], input[type=password], input[type=url], input[type=email], input.text, input.title, textarea {width:300px}
textarea {width:300px;height:150px;}
*/
textarea {height: 50px;}
form .error {padding:0.2em;}

thead th {border: 1px solid #A6C9E2;}
table  {border: 1px solid #A6C9E2;}

h1,h2,h3 {color: #1D5987; border-bottom: 1px solid #1D5987;}
.container {
  border: 1px solid #C8C8C8;
  padding: 20px;
  border-top: none;
  background: #fff url('../images/main.png') repeat-x;
  margin-bottom: 20px;
}

#pacTable tr, #biomatTable tr {cursor: pointer;}
#pacTable td span, #biomatTable td span {display: none;}

