#{extends 'main.html' /}

#{ifnot pacient?.id}
    #{set title:'Nový pacient' /}
#{/ifnot}
#{else}
    #{set title:'Pacient ' + pacient.evCislo + '/' + pacient.evRok /}
#{/else}

#{form @save()}

    <input type="hidden" name="pacient.id" value="${pacient?.id}">

    <p>
        #{field 'jmeno'}
        <label>Jméno:</label>
        <input type="text" name="${field.name}"
            value="${pacient?.jmeno}" />
        <span class="error">#{error 'pacient.jmeno' /}</span>
        #{/field}
    </p>

    <p>
        <input type="submit" value="Uložit" />
    </p>

#{/form}