#{extends 'main.html' /}

#{set title:'Pacient ' + pacient.getKod() /}

<p>
  detail #{a @form(pacient.id)}upravit#{/a} #{a @delete(pacient.id)}smazat#{/a} #{a @form()}přidat#{/a}
</p>

<dl>
  <dt>Evidenční číslo</dt>
  <dd>${pacient.getKod()}</dd>
  <dt>Jméno</dt>
  <dd>${pacient.jmeno}</dd>
  <dt>Rodné číslo</dt>
  <dd>${pacient.rodneCislo}</dd>
  <dt>Pojišťovna</dt>
  <dd>${pacient.pojistovna.nazev}</dd>
  <dt>Lékař</dt>
  <dd>${pacient.lekar?.icz} &nbsp;</dd>
  <dt>Informovaný souhlas</dt>
  <dd>${ pacient.infSouhlas.yesno('ano', 'ne') }</dd>

  <dt>Koncentrace DNA</dt>
  <dd>${ pacient.koncDna}&nbsp;</dd>
  <dt>Poznámka do závěrečné zprávy</dt>
  <dd>${ pacient.pozn}&nbsp;</dd>
  <dt>Veřejná poznámka</dt>
  <dd>${ pacient.verejnaPozn}&nbsp;</dd>
</dl>

<h2>Biologické materiály</h2>
<p>
  #{a @BioMaterials.form(null, pacient.id)}Nový materiál#{/a}
</p>
<table cellpadding="0" cellspacing="0" border="0" class="display" id="biomat">
  <thead>
    <th>id</th>
    <th>Typ</th>
    <th>Datum odběru</th>
    <th>Datum přijetí</th>
    <th>Parafa</th>
    <th>Datum izolace</th>
    <th>Parafa</th>
    <th>&nbsp;</th>
  </thead>
  <tbody>
    #{list pacient.bioMaterialy}
    <tr>
      <td>${_.id} </td>
      <td>${_.typ} </td>
      <td>${_.datumOdberu?.format()} </td>
      <td>${_.datumPrijeti?.format()} </td>
      <td>${_.parafaPrijeti?.name} </td>
      <td>${_.datumIzolace?.format()} </td>
      <td>${_.parafaIzolace?.name} </td>
      <td>#{a @BioMaterials.form(_.id, _.pacient.id)}upravit#{/a} #{a @BioMaterials.delete(_.id)}smazat#{/a}</td>
    </tr>
    #{/list}
  </tbody>
</table>

<h2>Vyšetření</h2>
<p>
  #{a @Reports.form(null, pacient.id)}Nové vyšetření#{/a}
</p>
<table cellpadding="0" cellspacing="0" border="0" class="display" id="zpravy">
  <thead>
    <th>Název</th>
    <th>Datum vyšetření</th>
    <th>Parafa</th>
    <th>&nbsp;</th>
  </thead>
  <tbody>
    #{list pacient.zpravy}
    <tr>
      <td>${_.vysetreni.nazev} </td>
      <td>${_.datumVysetreni?.format()} </td>
      <td>${_.parafaVysetreni?.name} </td>
      <td>#{a @Reports.form(_.id, _.pacient.id)}upravit#{/a} #{a @Reports.delete(_.id)}smazat#{/a}</td>
    </tr>
    #{/list}
  </tbody>
</table>

<script type="text/javascript">
$(document).ready(function() {
    oTable = $('#biomat').dataTable({
        "bJQueryUI": true,
        "sPaginationType": "full_numbers"
    });

    oTable = $('#zpravy').dataTable({
        "bJQueryUI": true,
        "sPaginationType": "full_numbers"
    });
} );

</script>
