#{extends 'main.html' /}

#{ifnot pacient?.id}
    #{set title:'Nový pacient' /}
#{/ifnot}
#{else}
    #{set title:'Pacient ' + pacient.getKod() /}
#{/else}

#{ifErrors}
    <p class="error">
        oprav chyby
    </p>
#{/ifErrors}


#{form @save(pacient?.id)}

#{field 'pacient.evCislo'}
<p>
  <label>&{field.name}</label>
  <input type="text" id="${field.id}" name="${field.name}" value="${pacient?.evCislo}" class="${field.errorClass}">
  <span class="error">${field.error}</span>
</p>
#{/}

#{field 'pacient.evRok'}
<p>
  <label>&{field.name}</label>
  <input type="text" id="${field.id}" name="${field.name}" value="${pacient?.evRok}" class="${field.errorClass}">
  <span class="error">${field.error}</span>
</p>
#{/}

#{field 'pacient.rodneCislo'}
<p>
  <label>&{field.name}</label>
  <input type="text" id="${field.id}" name="${field.name}" value="${pacient?.rodneCislo}" class="${field.errorClass}">
  <span class="error">${field.error}</span>
</p>
#{/}

#{field 'pacient.jmeno'}
<p>
  <label>&{field.name}</label>
  <input type="text" id="${field.id}" name="${field.name}" value="${pacient?.jmeno}" class="${field.errorClass}">
  <span class="error">${field.error}</span>
</p>
#{/}

#{field 'pacient.pojistovna.id'}
<p>
  <label>&{field.name}</label>
  #{select "${field.name}", items:pojistovny, valueProperty:'id', value:"${pacient?.pojistovna?.id}" /}
  <span class="error">#{error 'pacient.pojistovna' /} </span>
</p>
#{/}

#{field 'pacient.lekar.id'}
<p>
  <label>&{field.name}</label>
  #{select "${field.name}", value:"${pacient?.lekar?.id}", id:"${field.name}"}
  	#{option }none#{/option}
    #{list lekari}
      #{option "${_.id}"}${_.icz}#{/option}
    #{/list}
  #{/select}
  <span class="error">#{error 'pacient.lekar' /}</span>
</p>
#{/}

#{field 'pacient.infSouhlas'}
<p>
  <label>&{field.name}</label>
  <input type="checkbox" id="${field.id}" name="${field.name}" #{if pacient?.infSouhlas} checked="checked" #{/if} class="${field.errorClass}">
  <span class="error">${field.error}</span>
</p>
#{/}

#{field 'pacient.diagnoza'}
<p>
  <label>&{field.name}</label>
  <input type="text" id="${field.id}" name="${field.name}" value="${pacient?.diagnoza}" class="${field.errorClass}">
  <span class="error">${field.error}</span>
</p>
#{/}

#{field 'pacient.koncDna'}
<p>
  <label>&{field.name}</label>
  <input type="text" id="${field.id}" name="${field.name}" value="${pacient?.koncDna}" class="${field.errorClass}">
  <span class="error">${field.error}</span>
</p>
#{/}

#{field 'pacient.pozn'}
<p>
  <label>&{field.name}</label>
  <textarea id="${field.id}" name="${field.name}" value="${pacient?.pozn}" class="${field.errorClass}"></textarea>
  <span class="error">${field.error}</span>
</p>
#{/}

#{field 'pacient.verejnaPozn'}
<p>
  <label>&{field.name}</label>
  <textarea id="${field.id}" name="${field.name}" value="${pacient?.verejnaPozn}" class="${field.errorClass}"></textarea>
  <span class="error">${field.error}</span>
</p>
#{/}

<input type="hidden" name="pacient.id" value="${pacient?.id}">

    <p>
        <input type="submit" value="Uložit" />
    </p>

#{/form}


</script>
