#{extends 'main.html' /}

#{ifnot pacient?.id}
    #{set title:'Nový pacient' /}
#{/ifnot}
#{else}
    #{set title:'Pacient ' + pacient.evCislo + '/' + pacient.evRok /}
#{/else}

#{form @save(pacient?.id)}

    #{ifErrors}
        <p class="error">
            máš tu chyby vole
        </p>
    #{/ifErrors}

    <p>
        #{field 'evCislo'}
        <label>číslo:</label>
        <input type="text" name="${field.name}"
            value="${pacient?.evCislo}" />
        <span class="error">#{error 'pacient.evCislo' /}</span>
        #{/field}
    </p>

    <p>
        #{field 'jmeno'}
        <label>Jméno:</label>
        <input type="text" name="${field.name}"
            value="${pacient?.jmeno}" />
        <span class="error">#{error 'pacient.jmeno' /}</span>
        #{/field}
    </p>

    <p>
        <input type="submit" value="Uložit" />
    </p>

#{/form}