#{extends 'main.html' /}
#{set title:'Pacienti' /}

<p>
  #{a @form()}Nový pacient#{/a}
</p>


#{if pacienti}
  <table class="display" id="example">
    <thead>
      <th>&nbsp;</th>
      <th>&nbsp;</th>
      <th>Evidenční číslo</th>
      <th>Jméno</th>
      <th>Rodné číslo</th>
      <th>&nbsp;</th>
    </thead>
    <tbody>

    #{list pacienti}
    <tr>
      <td>${_.evCislo} </td>
      <td>${_.evRok} </td>
      <td>${_.getKod()} </td>
      <td>${_.jmeno} </td>
      <td>${_.rodneCislo} </td>
      <td>#{a @detail(_.id)}detail#{/a}</td>
    </tr>
    #{/list}
    </tbody>
  </table>

<script type="text/javascript">
$(document).ready(function() {
    oTable = $('#example').dataTable({
        "bJQueryUI": true,
        "sPaginationType": "full_numbers",
        "aaSorting": [[ 1, "desc" ],[ 0, "desc" ]],
        "aoColumnDefs": [
            { "bVisible": false, "aTargets": [ 0, 1 ] },
            { "bSearchable": false, "aTargets": [ 0, 1, 5 ] }
        ]
    });

} );
</script>

 #{/if}
#{else}
    <div class="empty">
        There is currently nothing to read here.
    </div>
#{/else}
