#{extends 'main.html' /}
#{set title:'Pacienti' /}


#{if pacienti}
  <table class="display" id="pacTable">
    <thead>
      <th>&nbsp;</th>
      <th>&nbsp;</th>
      <th>Evidenční číslo</th>
      <th>Jméno</th>
      <th>Rodné číslo</th>
      <th>&nbsp;</th>
    </thead>
    <tbody>

    #{list pacienti}
    <tr>
      <td>${_.evCislo} </td>
      <td>${_.evRok} </td>
      <td>#{a @Patients.detail(_.id), title:"Zobrazit detail tohoto pacienta"}${_.getKod()}#{/a} </td>
      <td>${_.jmeno} </td>
      <td>${_.rodneCislo} </td>
      <td>@{ detail(_.id)} </td>
    </tr>
    #{/list}
    </tbody>
  </table>

<script type="text/javascript">
$(document).ready(function() {
    oTable = $('#pacTable').dataTable({
        "bJQueryUI": true,
        "sPaginationType": "full_numbers",
        "bStateSave": false,
        "aaSorting": [[ 1, "desc" ],[ 0, "desc" ]],
        "aLengthMenu": [[25, 50, 100, -1], [25, 50, 100, "Vše"]],
        "iDisplayLength":25,
        "aoColumnDefs": [
            { "bVisible": false, "aTargets": [ 0, 1, 5 ] },
            { "bSearchable": false, "aTargets": [ 0, 1, 5 ] }
        ]
    });

/*
    $('#pacTable tbody tr').live('click', function () {
        var nTds = $('td', this);
        var nSpans = $('span', nTds[0]);
        window.location.href = nSpans[0].innerHTML;
    } );
*/
} );
</script>

 #{/if}
#{else}
    <div class="empty">
        &{'noRecords'}
    </div>
#{/else}

