#{extends 'main.html' /}
#{set title:'Pacienti' /}

<p>
  #{a @form()}Nový pacient#{/a}
</p>

#{if pacienti}
  <table>
    <thead>
      <th>Evidenční číslo</th>
      <th>Jméno</th>
      <th>Rodné číslo</th>
      <th>&nbsp;</th>
    </thead>
    <tbody>
    
    #{list pacienti}
    <tr>
      <td>${_.evCislo}/${_.evRok} </td>
      <td>#{a @form(_.id)}${_.jmeno}#{/a}</td>
      <td>${_.rodneCislo} </td>
      <td>#{a @form(_.id)}upravit#{/a} #{a @delete(_.id)}smazat#{/a}</td>
    </tr>
    #{/list}
    </tbody>
  </table>
#{/if}

#{else}
    <div class="empty">
        There is currently nothing to read here.
    </div>
#{/else}
