#{extends 'main.html' /}

#{set title:'Pacient ' + pacient.getKod() /}

<table>
  <thead>
    <tr>
      <th>Typ vyšetření</th>
      <th>Datum</th>
      <th>Kód výkonu</th>
      <th>Slovní popis výkonu</th>
      <th>Body za výkon</th>
    </tr>
  </thead>
  <tbody>
#{list str}
    <tr>
      <td>${_.split(";", -1)[0]}</td>
      <td>${_.split(";", -1)[1]}</td>
      <td>${_.split(";", -1)[2]}</td>
      <td>${_.split(";", -1)[3]}</td>
      <td>${_.split(";", -1)[4]}</td>
    </tr>
#{/list}
  </tbody>
</table>