#{extends 'main.html' /}

#{ifnot bioMaterial?.id}
    #{set title:'Nový materiál' /}
#{/ifnot}
#{else}
    #{set title:'Materiál ' + bioMaterial.typ /}
#{/else}

#{ifErrors}
    <p class="error">
        oprav chyby
    </p>
#{/ifErrors}


<p>
 Pacient:
</p>
<ul>
 <li>#{a @Patients.detail(pacient?.id)}${pacient?.getKod()}#{/a}</li>
 <li>${pacient?.jmeno} </li>
 <li>${pacient?.rodneCislo} </li>
</ul>

#{form @mySave(bioMaterial?.id)}

#{field 'bioMaterial.typ'}
<p>
  <label>&{field.name}</label>
  <input type="text" id="${field.id}" name="${field.name}" value="${bioMaterial?.typ}" class="${field.errorClass}">
  <span class="error">${field.error}</span>
  <span><em>${typyMaterialu?.join(', ') }</em></span>
</p>
#{/}

#{field 'bioMaterial.datumOdberu'}
<p>
  <label>&{field.name}</label>
  <input type="text" id="${field.id}" name="${field.name}" value="${bioMaterial?.datumOdberu?.format('dd.MM.yyyy')}" class="${field.errorClass}">
  <span class="error">${field.error}</span>
</p>
#{/}

#{field 'bioMaterial.casOdberu'}
<p>
  <label>&{field.name}</label>
  <input type="text" id="${field.id}" name="${field.name}" value="${bioMaterial?.casOdberu?.format('hh:mm')}" class="${field.errorClass}">
  <span class="error">${field.error}</span>
</p>
#{/}

#{field 'bioMaterial.datumPrijeti'}
<p>
  <label>&{field.name}</label>
  <input type="text" id="${field.id}" name="${field.name}" value="${bioMaterial?.datumPrijeti?.format()}" class="${field.errorClass}">
  <span class="error">${field.error}</span>
</p>
#{/}

#{field 'bioMaterial.casPrijeti'}
<p>
  <label>&{field.name}</label>
  <input type="text" id="${field.id}" name="${field.name}" value="${bioMaterial?.casPrijeti?.format('hh:mm')}" class="${field.errorClass}">
  <span class="error">${field.error}</span>
</p>
#{/}

#{field 'bioMaterial.parafaPrijeti.id'}
<p>
  <label>&{field.name}</label>
  #{select "${field.name}", value:"${bioMaterial?.parafaPrijeti?.id}", id:"${field.name}"}
  	#{option }vyberte#{/option}
    #{list users}
      #{option "${_.id}"}${_.parafa}#{/option}
    #{/list}
  #{/select}
  <span class="error">#{error 'bioMaterial.parafaPrijeti' /}</span>
</p>
#{/}

#{field 'bioMaterial.datumIzolace'}
<p>
  <label>&{field.name}</label>
  <input type="text" id="${field.id}" name="${field.name}" value="${bioMaterial?.datumIzolace?.format('dd.MM.yyyy')}" class="${field.errorClass}">
  <span class="error">${field.error}</span>
</p>
#{/}


#{field 'bioMaterial.parafaIzolace.id'}
<p>
  <label>&{field.name}</label>
  #{select "${field.name}", value:"${bioMaterial?.parafaIzolace?.id}", id:"${field.name}"}
  	#{option }vyberte#{/option}
    #{list users}
      #{option "${_.id}"}${_.parafa}#{/option}
    #{/list}
  #{/select}
  <span class="error">#{error 'bioMaterial.parafaIzolace' /}</span>
</p>
#{/}

<input type="hidden" name="pacientId" value="${pacient?.id}">
<input type="hidden" name="bioMaterial.id" value="${bioMaterial?.id}">


    <p>
        <input type="submit" value="Uložit" />
    </p>

#{/form}


<script type="text/javascript">
		$( "#bioMaterial_datumOdberu" ).datepicker({
			showOn: "button",
      buttonImage: "@{'/public/images/calendar.gif'}",
			buttonImageOnly: true,
      dateFormat: "dd.mm.yy"
		});
		$( "#bioMaterial_datumPrijeti" ).datepicker({
			showOn: "button",
      buttonImage: "@{'/public/images/calendar.gif'}",
			buttonImageOnly: true,
      dateFormat: "dd.mm.yy"
		});
		$( "#bioMaterial_datumIzolace" ).datepicker({
			showOn: "button",
      buttonImage: "@{'/public/images/calendar.gif'}",
			buttonImageOnly: true,
      dateFormat: "dd.mm.yy"
		});

		var typyMaterialu = [
      #{list typyMaterialu}
        "${_.raw()}" ${_isLast ? '' : ','}
      #{/list}
    ];

		$( "#bioMaterial_typ" ).autocomplete({
			source: typyMaterialu
		});


</script>