#{extends 'main.html' /}

#{ifnot bioMaterial?.id}
  #{set title:'Nový biologický materiál' /}
#{/ifnot}
#{else}
  #{set title:'Biologický materiál' /}
#{/else}

#{ifErrors}
  <p class="error">
      Opravte chyby ve formuláři!
  </p>
#{/ifErrors}

#{form @mySave(bioMaterial?.id), id:"bioMatForm"}
<fieldset>
  <legend>Informace o biologickém materiálu</legend>

<p>
  <label>pacient </label>
  <span class="infoInput">#{a @Patients.detail(pacient?.id), title:"Zobrazit detail pacienta"}${pacient?.getKod()}#{/a}, ${pacient?.toString()} </span>
</p>

#{field 'bioMaterial.typ'}
<p>
  <label class="required">&{field.name} </label>
  <input type="text" id="${field.id}" name="${field.name}" value="${bioMaterial?.typ}" class="${field.errorClass} longW">
  <a href="@{AppModuls.form}" target="_blank" title="&{'modul.nastaveni'}" class="ui-icon ui-icon-gear modulSettings"></a>
  #{ifError field.name}<span class="error">${field.error} </span>#{/ifError}
</p>
<p>
  <span class="small">${typyMaterialu?.join(', ') }</span>
</p>
#{/}

#{field 'bioMaterial.datumOdberu'}
<p>
  <label>&{field.name} </label>
  <input type="text" id="${field.id}" name="${field.name}" value="${bioMaterial?.datumOdberu?.format('dd.MM.yyyy')}" class="${field.errorClass} datumW">
  #{ifError field.name}<span class="error">${field.error} </span>#{/ifError}
  <span class="small">dd.mm.rrrr</span>
</p>
#{/}

#{field 'casOdberu'}
<p>
  <label>&{field.name} </label>
  <input type="text" id="${field.id}" name="${field.name}" value="${bioMaterial?.datumOdberu?.format('HH:mm')?.replace("00:00", "")}" class="${field.errorClass} shortW">
  #{ifError field.name}<span class="error">${field.error} </span>#{/ifError}
  <span class="small">hh:mm</span>
</p>
#{/}

#{field 'bioMaterial.datumPrijeti'}
<p>
  <label>&{field.name} </label>
  <input type="text" id="${field.id}" name="${field.name}" value="${bioMaterial?.datumPrijeti?.format()}" class="${field.errorClass} datumW">
  <span class="small">dd.mm.rrrr</span>
</p>
#{/}

#{field 'casPrijeti'}
<p>
  <label>&{field.name} </label>
  <input type="text" id="${field.id}" name="${field.name}" value="${bioMaterial?.datumPrijeti?.format('HH:mm')?.replace("00:00", "")}" class="${field.errorClass} shortW">
  <span class="small">hh:mm</span>
</p>
#{/}

#{field 'bioMaterial.parafaPrijeti.id'}
<p>
  <label>&{field.name}</label>
  #{select "${field.name}", value:"${bioMaterial?.parafaPrijeti?.id}", id:"${field.name}"}
  	#{option }&{'selectBox.option.none'}#{/option}
    #{option "${connected.id}"}${connected.parafa}#{/option}
    *{ parafa je zadána a nepatří právě přihlášenému uživateli }*
    #{if bioMaterial?.parafaPrijeti?.id && connected.id != bioMaterial?.parafaPrijeti?.id}
      #{option "${bioMaterial?.parafaPrijeti?.id}"}${bioMaterial?.parafaPrijeti?.parafa}#{/option}
    #{/if}
  #{/select}
  <a href="@{AppModuls.uziv()}" target="_blank" title="&{'profil.nastaveni'}" class="ui-icon ui-icon-gear modulSettings"></a>
  <span class="error">#{error 'bioMaterial.parafaPrijeti' /} </span>
*{
  #{ifnot bioMaterial?.id}
    <input type="hidden" name="${field.name}" value="${connected?.id}">
    <input type="text" id="${field.id}_label" name="${field.name}_label" value="${connected.parafa}" class="${field.errorClass} disabled shortW" disabled="disabled">
  #{/ifnot}
  #{else}
    <input type="text" id="${field.id}" name="${field.name}" value="${bioMaterial?.parafaPrijeti?.parafa}" class="${field.errorClass} disabled shortW" disabled="disabled">
    #{select "${field.name}", value:"${bioMaterial?.parafaPrijeti?.id}", id:"${field.name}", class:"disabled"}
    	#{option }&{'selectBox.option.none'}#{/option}
      #{list users}
        #{option "${_.id}"}${_.parafa}#{/option}
      #{/list}
    #{/select}
  #{/else}
}*
</p>
#{/}

#{field 'bioMaterial.datumIzolace'}
<p>
  <label>&{field.name} </label>
  <input type="text" id="${field.id}" name="${field.name}" value="${bioMaterial?.datumIzolace?.format('dd.MM.yyyy')}" class="${field.errorClass} datumW">
  #{ifError field.name}<span class="error">${field.error} </span>#{/ifError}
  <span class="small">dd.mm.rrrr</span>
</p>
#{/}

#{field 'koncDna'}
<p>
  <label>&{'pacient.koncDna'} </label>
  <input type="text" id="${field.id}" name="${field.name}" value="${pacient?.koncDna}" class="${field.errorClass} shortW"><span>&nbsp;&nbsp;ng/&micro;l</span>
  #{ifError field.name}<span class="error">${field.error} </span>#{/ifError}
</p>
#{/}

#{field 'bioMaterial.parafaIzolace.id'}
<p>
  <label>&{field.name} </label>
  #{select "${field.name}", value:"${bioMaterial?.parafaIzolace?.id}", id:"${field.name}"}
  	#{option }&{'selectBox.option.none'}#{/option}
    #{option "${connected.id}"}${connected.parafa}#{/option}
    #{if bioMaterial?.parafaIzolace?.id && connected.id != bioMaterial?.parafaIzolace?.id}
      #{option "${bioMaterial?.parafaIzolace?.id}"}${bioMaterial?.parafaIzolace?.parafa}#{/option}
    #{/if}
  #{/select}
  <a href="@{AppModuls.uziv()}" target="_blank" title="&{'profil.nastaveni'}" class="ui-icon ui-icon-gear modulSettings"></a>
*{
  #{ifnot bioMaterial?.id}
    <input type="hidden" name="${field.name}" value="${connected?.id}">
    <input type="text" id="${field.id}_label" name="${field.name}_label" value="${connected.parafa}" class="${field.errorClass} disabled shortW" disabled="disabled">
  #{/ifnot}
  #{else}
    <input type="text" id="${field.id}" name="${field.name}" value="${bioMaterial?.parafaIzolace?.parafa}" class="${field.errorClass} disabled shortW" disabled="disabled">
    #{select "${field.name}", value:"${bioMaterial?.parafaIzolace?.id}", id:"${field.name}", class:"disabled"}
    	#{option }&{'selectBox.option.none'}#{/option}
      #{list users}
        #{option "${_.id}"}${_.parafa}#{/option}
      #{/list}
    #{/select}
  #{/else}
}*
  <span class="error">#{error 'bioMaterial.parafaIzolace' /} </span>
</p>
#{/}

<input type="hidden" name="pacientId" value="${pacient?.id}">
<input type="hidden" name="bioMaterial.id" value="${bioMaterial?.id}">


  <p>
      <input class="left" type="submit" value="Uložit" />
      #{if bioMaterial?.id}  
      <span class="left button delete">#{a @myDelete(bioMaterial?.id), id:"delButton"}Smazat materiál#{/a}</span>
      #{/if}
  </p>
  <div class="clear"></div>
</fieldset>
#{/form}

#{if bioMaterial?.id}
<div id="dialog-confirm" title="Biologický materiál ${bioMaterial?.typ}">
	<p><span class="ui-icon ui-icon-alert" style="float:left; margin:0 7px 20px 0;"></span>Opravdu chcete smazat tento materiál?</p>
</div>

<script type="text/javascript">
$(document).ready(function() {
    $('#dialog-confirm').dialog({
    	resizable: false,
    	height:160,
    	modal: true,
    	autoOpen: false,
    	buttons: {
    		'Smazat': function() {
    		  $( this ).dialog( 'close' );
          window.location.href = $('#delButton').attr('href');       				
    		},
    		'Storno': function() {
    			$( this ).dialog( 'close' );
    		}
    	}
    });    

    $('#delButton').click(function () {
      $( "#dialog-confirm" ).dialog('open');
      return false;       
    } );
} );
</script>
#{/if}
#{else}
  <script type="text/javascript">
  $(document).ready(function() {
      $('#bioMaterial_typ').focus();
  } );
  </script>
#{/else}

<script type="text/javascript">
  $(document).ready(function() {
  		$( "#bioMaterial_datumOdberu" ).datepicker();
  		$( "#bioMaterial_datumPrijeti" ).datepicker();
  		$( "#bioMaterial_datumIzolace" ).datepicker();

  		var typyMaterialu = [
        #{list typyMaterialu}
          "${_.raw()}" ${_isLast ? '' : ','}
        #{/list}
      ];

  		$( "#bioMaterial_typ" ).autocomplete({
  			source: typyMaterialu,
        delay: 0
  		});

      $( '#casOdberu' ).on('change', function(event){
        $(this).val(upravCas($(this).val()));
      });

      $( '#casPrijeti' ).on('change', function(event){
        $(this).val(upravCas($(this).val()));
      });

      function upravCas(cas)
      {
        //735 -> 0735
        if(cas.length == 3 && cas.indexOf(":") == -1) cas = "0" + cas;
        //7:35 -> 07:35
        if(cas.length == 4 && cas.indexOf(":") != -1) cas = "0" + cas;
        //0735 -> 07:35
        if(cas.length == 4 && cas.indexOf(":") == -1) cas = cas.substring(0, 2) + ":" + cas.substring(2);
        return cas;
      }
  } );
</script>