#{extends 'main.html' /}

#{ifnot lekar?.id}
    #{set title:'Nový lékař' /}
#{/ifnot}
#{else}
    #{set title:'Lékař ' + lekar.toString() /}
#{/else}

#{ifErrors}
    <p class="error">
        Opravte chyby ve formuláři!
    </p>
#{/ifErrors}

#{form @mySave(lekar?.id)}
<fieldset>
    <legend>Informace o lékaři</legend>
  #{field 'lekar.icz'}
  <p>
    <label class="required">&{field.name} </label>
    <input type="text" id="${field.id}" name="${field.name}" value="${lekar?.icz}" class="${field.errorClass}">
    #{ifError field.name}<span class="error">${field.error} </span>#{/ifError}
  </p>
  #{/}

  #{field 'lekar.odbornost'}
  <p>
    <label>&{field.name} </label>
    <input type="text" id="${field.id}" name="${field.name}" value="${lekar?.odbornost}" class="${field.errorClass}">
    #{ifError field.name}<span class="error">${field.error} </span>#{/ifError}
  </p>
  #{/}

  #{field 'lekar.jmeno'}
  <p>
    <label class="required">&{field.name} </label>
    <input type="text" id="${field.id}" name="${field.name}" value="${lekar?.jmeno}" class="${field.errorClass} longW">
    #{ifError field.name}<span class="error">${field.error} </span>#{/ifError}
  </p>
  #{/}

  #{field 'lekar.pracoviste'}
  <p>
    <label>&{field.name} </label>
    <input type="text" id="${field.id}" name="${field.name}" value="${lekar?.pracoviste}" class="${field.errorClass} vLongW">
    #{ifError field.name}<span class="error">${field.error} </span>#{/ifError}
  </p>
  #{/}

  <p>
    <input class="left" type="submit" value="Uložit" />
    #{if lekar?.id}  
    <span class="left button delete">#{a @myDelete(lekar?.id), id:"delButton"}Smazat lékaře#{/a}</span>
    #{/if}       
  </p>
  <div class="clear"></div>
 </fieldset>
#{/form}


#{if lekar?.id}
  <div id="dialog-confirm" title="Lékař ${lekar?.jmeno}">
  	<p><span class="ui-icon ui-icon-alert" style="float:left; margin:0 7px 20px 0;"></span>Opravdu chcete smazat tohoto lékaře?</p>
  </div>
  
  <script type="text/javascript">
  $(document).ready(function() {
      $('#dialog-confirm').dialog({
      	resizable: false,
      	height:160,
      	modal: true,
      	autoOpen: false,
      	buttons: {
      		'Smazat': function() {
      		  $( this ).dialog( 'close' );
            window.location.href = $('#delButton').attr('href');       				
      		},
      		'Storno': function() {
      			$( this ).dialog( 'close' );
      		}
      	}
      });    
  
      $('#delButton').click(function () {
        $( "#dialog-confirm" ).dialog('open');
        return false;       
      } );
  } );
  </script>  
#{/if}
#{else}
  <script type="text/javascript">
  $(document).ready(function() {
      $('#lekar_icz').focus();

  } );
  </script>
#{/else}