#{extends 'main.html' /}
#{set title:'Lékaři' /}


<p>
  <span class="button">#{a @form()}Nový lékař#{/a}</span>
</p>

#{if lekari}
  <table class="display" id="example">
    <thead>
      <th>&{'lekar.icz'}</th>
      <th>&{'jmeno'}</th>
      <th>&{'lekar.pracoviste'}</th>
    </thead>
    <tbody>
    #{list lekari}
    <tr>
      <td>#{a @form(_.id), title:"Upravit tohoto lékaře"}${_.icz}#{/a} </td>
      <td>${_.jmeno} </td>
      <td>${_.pracoviste} </td>
    </tr>
    #{/list}
    </tbody>
  </table>

<script type="text/javascript">
$(document).ready(function() {
    oTable = $('#example').dataTable({
        "bJQueryUI": true,
        "sPaginationType": "full_numbers",
        "bLengthChange": false,
        "aLengthMenu": [[25, 50, 100, -1], [25, 50, 100, "Vše"]],
        "bLengthChange": true,
        "iDisplayLength":25,
        "oLanguage": {
          "sProcessing":   "Provádím...",
          "sLengthMenu":   "Zobraz záznamů _MENU_",
          "sZeroRecords":  "Žádné záznamy nebyly nalezeny",
          "sInfo":         "Zobrazuji _START_ až _END_ z celkem _TOTAL_ záznamů",
          "sInfoEmpty":    "Zobrazuji 0 až 0 z 0 záznamů",
          "sInfoFiltered": "(filtrováno z celkem _MAX_ záznamů)",
          "sInfoPostFix":  "",
          "sSearch":       "Hledat:",
          "sUrl":          "",
          "oPaginate": {
             "sFirst":    "První",
             "sPrevious": "Předchozí",
             "sNext":     "Další",
             "sLast":     "Poslední"
          }
        }
    });
} );
</script>
#{/if}

#{else}
    <div class="empty">
        &{'noRecords'}
    </div>
#{/else}
