#{extends 'main.html' /}

#{if typ == "neprovedena-vysetreni"}
  #{set title:'Neprovedená vyšetření' /}
#{/if}
#{elseif typ == "pocty-vzorku"}
  #{set title:'Počty vzorků od lékaře' /}
#{/elseif}
#{elseif typ == "neizolovana-dna"}
  #{set title:'Neizolovaná DNA' /}
#{/elseif}
#{else}
#{/else}

<style type="text/css">
  .totalSum {border-top: 1px solid black;}
  .totalSum, .sum {text-align: right; padding-right: 1em;}
</style>


#{form @index(typ)}
<fieldset>
  <legend>Výběr období</legend>
  #{field 'datumOd'}
  <p>
    <label class="required">&{field.name} </label>
    <input type="text" id="${field.id}" name="${field.name}" value="${datumOd.format('dd.MM.yyyy')}" class="${field.errorClass} datumW">
    <span class="error">${field.error} </span>
  </p>
  #{/}

  #{field 'datumDo'}
  <p>
    <label class="required">&{field.name} </label>
    <input type="text" id="${field.id}" name="${field.name}" value="${datumDo.format('dd.MM.yyyy')}" class="${field.errorClass} datumW">
    <span class="error">${field.error} </span>
  </p>
  #{/}

  #{if typ == "neprovedena-vysetreni"}
    #{field 'vysetreni'}
    <p>
      <label>&{field.name} </label>
      #{select "${field.name}", class:"vLongW"}
      	#{option "0"}&{'selectBox.option.all'}#{/option}
        #{list seznamVysetreni}
          #{option "${_.id}"}${_.nazev}#{/option}
        #{/list}
      #{/select}
    </p>
    #{/}
  #{/if}

  #{if typ == "pocty-vysetreni-lekar"}
    #{field 'lekar'}
    <p>
      <label>&{'lekar'} </label>
      #{select "${field.name}", class:"vLongW"}
        #{list seznamLekaru}
          #{option "${_.id}"}${_.toString()}#{/option}
        #{/list}
      #{/select}
    </p>
    #{/}
  #{/if}

    <p>
        <input type="submit" value="Zobrazit" />
    </p>
</fieldset>
#{/form}

<script type="text/javascript">
  $(document).ready(function() {
		$( "#datumOd" ).datepicker();
		$( "#datumDo" ).datepicker();
  } );
</script>