<!DOCTYPE html>

<html>
  <head>
    <title>Neizolovaná DNA</title>
    <meta charset="${_response_encoding}">
    <style media="print">
     body {font-family: Arial,serif;}
    </style>
  </head>
  <body>

<h1>Neizolovaná DNA</h1>

#{if bioMaterialy}
  <table>
    <thead>
      <th>Evidenční číslo</th>
      <th>Jméno</th>
    </thead>
    <tbody>

    #{list bioMaterialy}
    <tr>
      <td>${_.pacient.getKod()} </td>
      <td>${_.pacient.jmeno} ${_.pacient.prijmeni} </td>
    </tr>
    #{/list}
    </tbody>
  </table>
#{/if}
#{else}
    <div class="empty">
        &{'noRecords'}
    </div>
#{/else}

  </body>
</html>