<!DOCTYPE html>

<html>
  <head>
    <title>Počty vyšetření od lékaře </title>
    <meta charset="${_response_encoding}">
    <style media="print">
      body {font-family: "Times New Roman", sans-serif;}
      .nowrap {white-space:nowrap;}
      td {border-bottom: 1px solid black; vertical-align: top;}
    </style>
  </head>
  <body>

<h1>Počty vyšetření od lékaře</h1>
<p>
 Období: ${datumOd.format()} - ${datumDo.format()}
</p>
<p>
 Lékař: ${lekar}
</p>

#{if poctyVys}
  <table style="width: 100%;">
    <thead>
      <th>Počet</th>
      <th>Vyšetření</th>
    </thead>
    <tbody>
    #{list poctyVys}
    <tr>
      <td>${_.pocet} </td>
      <td>${_.vysetreni} </td>
    </tr>
    #{/list}
    </tbody>
  </table>
#{/if}
#{else}
    <div class="empty">
        &{'noRecords'}
    </div>
#{/else}

  </body>
</html>