#{extends 'main.html' /}
#{set title:'Počty vyšetření' /}

<fieldset class="noprint">
  <legend>Výběr období</legend>

  <ul>
%{
  i = 2008;
  while(++i <= aktRok) {
}%
    <li><a href="@{Forms.poctyVysetreni(i)}">${i}</a></li>
%{
  }
}%
  </ul>
</fieldset>




<h2>Rok ${rok}</h2>
<p>
  Počet vyšetření: ${pocetVysetreni}<br />
  muži: ${pocetVysetreniM}<br />
  ženy: ${pocetVysetreniF}
</p>
<p>
  Počet vyšetření dle typu:
</p>
<ul>
    #{list pocetDleTypu}
      <li>${_.nazev} - ${_.pocet} </li>
    #{/list}
</ul>
<p>
  Počet pacientů: ${pocetPacientu}<br />
  muži: ${pocetPacientuM}<br />
  ženy: ${pocetPacientuF}
</p>
<p>
 Počet pacientů s patologickým nálezem: ${pocetPatolog}<br />
 <!-- Z toho mladší 19 let: ${pocetPatologMladi} -->
</p>


