#{extends 'main.html' /}
#{set title:'Počty vyšetření' /}

<fieldset class="noprint">
  <legend>Výběr období</legend>

  <ul>
%{
  i = 2008;
  while(++i <= aktRok) {
}%
    <li><a href="@{Forms.poctyVysetreni(i)}">${i}</a></li>
%{
  }
}%
  </ul>
</fieldset>




<h2>Rok ${rok}</h2>
<p>
  <strong>Počet vyšetření</strong>: ${pocetVysetreni}<br />
  muži: ${pocetVysetreniM}<br />
  ženy: ${pocetVysetreniF}
</p>


<p>
  <strong>Počet vyšetření dle typu</strong>:
</p>
<ul>
    #{list pocetDleTypu}
      <li>${_.nazev} - ${_.pocet} </li>
    #{/list}
</ul>

<p>
  <strong>Počet vyšetření dle typu - muži</strong>:
</p>
<ul>
    #{list pocetDleTypuM}
      <li>${_.nazev} - ${_.pocet} </li>
    #{/list}
</ul>

<p>
  <strong>Počet vyšetření dle typu - ženy</strong>:
</p>
<ul>
    #{list pocetDleTypuF}
      <li>${_.nazev} - ${_.pocet} </li>
    #{/list}
</ul>

<p>
  <strong>Počet pacientů</strong>: ${pocetPacientu}<br />
  muži: ${pocetPacientuM}<br />
  ženy: ${pocetPacientuF}
</p>
<p>
 <strong>Počet pacientů s patologickým nálezem</strong>: ${pocetPatolog}<br />
 Z toho mladší 19 let: ${pocetPatologMladi}
</p>

<p>
 <strong>Počet neúplných žádanek</strong>: ${pocetNeuplnychZadanek}<br />
 Celkový počet žádanek: ${pocetPacientu}
</p>

<p>
 <strong>Počet nevyhovujících vzorků</strong>: ${pocetNevyhovVzorku}<br />
 Celkový počet vzorků: ${pocetVzorkuCelkem}
</p>

<p>
 <strong>Počet opakovaných vyšetření</strong>: ${pocetOpakovanychVysetreni}<br />
 Celkový počet vyšetření: ${pocetVysetreni}
</p>

