#{extends 'main.html' /}

#{ifnot pojistovna?.id}
    #{set title:'Nová pojišťovna' /}
#{/ifnot}
#{else}
    #{set title:'Pojišťovna ' + pojistovna.cislo /}
#{/else}

#{ifErrors}
    <p class="error">
        Opravte chyby ve formuláři!
    </p>
#{/ifErrors}

#{form @mySave(pojistovna?.id)}
<fieldset>
  <legend>Informace o pojišťovně</legend>

  #{field 'pojistovna.cislo'}
  <p>
    <label class="required">&{field.name} </label>
    <input type="text" id="${field.id}" name="${field.name}" value="${pojistovna?.cislo}" class="${field.errorClass} shortW">
    #{ifError field.name}<span class="error">${field.error} </span>#{/ifError}
  </p>
  #{/}

  #{field 'pojistovna.nazev'}
  <p>
    <label class="required">&{field.name} </label>
    <input type="text" id="${field.id}" name="${field.name}" value="${pojistovna?.nazev}" class="${field.errorClass} vLongW">
    #{ifError field.name}<span class="error">${field.error} </span>#{/ifError}
  </p>
  #{/}


  #{field 'pojistovna.aktual'}
    #{ifnot pojistovna?.id}
        <input type="hidden" id="${field.id}" name="${field.name}" value="true">
    #{/ifnot}
    #{else}
    <p>
      <label>&{field.name} </label>
      <input type="checkbox" id="${field.id}" name="${field.name}" #{if pojistovna?.aktual} checked="checked" #{/if} class="${field.errorClass}">
      #{ifError field.name}<span class="error">${field.error} </span>#{/ifError}
    </p>
    #{/else}
  #{/}

  <p>
    <input type="submit" value="Uložit" />
    #{if pojistovna?.id}  
    <span class="button delete">#{a @myDelete(pojistovna?.id), id:"delButton"}Smazat pojišťovnu#{/a}</span>
    #{/if}      
  </p>

</fieldset>
#{/form}

#{if pojistovna?.id}
  <div id="dialog-confirm" title="Pojišťovna ${pojistovna?.cislo}">
  	<p><span class="ui-icon ui-icon-alert" style="float:left; margin:0 7px 20px 0;"></span>Opravdu chcete smazat tuto pojišťovnu?</p>
  </div>
  
  <script type="text/javascript">
  $(document).ready(function() {
      $('#dialog-confirm').dialog({
      	resizable: false,
      	height:160,
      	modal: true,
      	autoOpen: false,
      	buttons: {
      		'Smazat': function() {
      		  $( this ).dialog( 'close' );
            window.location.href = $('#delButton').attr('href');       				
      		},
      		'Storno': function() {
      			$( this ).dialog( 'close' );
      		}
      	}
      });    
  
      $('#delButton').click(function () {
        $( "#dialog-confirm" ).dialog('open');
        return false;       
      } );
  } );
  </script>  
#{/if}
#{else}
  <script type="text/javascript">
  $(document).ready(function() {
      $('#pojistovna_cislo').focus();

  } );
  </script>
#{/else}
