#{extends 'main.html' /}
#{set title:'Pojišťovny' /}

<p>
  #{a @form()}Nová pojišťovna#{/a}
</p>

#{if pojistovny}
  <table class="display" id="example">
    <thead>
      <th>Číslo</th>
      <th>Název</th>
      <th>&nbsp;</th>
    </thead>
    <tbody>
    #{list pojistovny}
    <tr>
      <td>${_.cislo} </td>
      <td>${_.nazev} </td>
      <td>#{a @form(_.id)}upravit#{/a} #{a @myDelete(_.id)}smazat#{/a} </td>
    </tr>
    #{/list}
    </tbody>
  </table>

<script type="text/javascript">
$(document).ready(function() {
    oTable = $('#example').dataTable({
        "bJQueryUI": true,
        "sPaginationType": "full_numbers",
        "aaSorting": [[ 1, "asc" ]],
        "bStateSave": true,
        "bLengthChange": false
    });
} );
</script>
#{/if}

#{else}
    <div class="empty">
        There is currently nothing to read here.
    </div>
#{/else}
