#{extends 'main.html' /}
#{set title:'Pojišťovny' /}

<p>
  <span class="button">#{a @form()}Nová pojišťovna#{/a}</span>
</p>

#{if pojistovny}
  <table class="display" id="pojistTable">
    <thead>
      <th>Číslo</th>
      <th>Název</th>
    </thead>
    <tbody>
    #{list pojistovny}
    <tr>
      <td>#{a @form(_.id)}${_.cislo}#{/a} </td>
      <td>${_.nazev} </td>
    </tr>
    #{/list}
    </tbody>
  </table>

<script type="text/javascript">
$(document).ready(function() {
    oTable = $('#pojistTable').dataTable({
        "bJQueryUI": true,
        "sPaginationType": "full_numbers",
        "bStateSave": false,
        "aLengthMenu": [[25, 50, 100, -1], [25, 50, 100, "Vše"]],
        "bLengthChange": true,
        "iDisplayLength":25,
        "oLanguage": {
          "sProcessing":   "Provádím...",
          "sLengthMenu":   "Zobraz záznamů _MENU_",
          "sZeroRecords":  "Žádné záznamy nebyly nalezeny",
          "sInfo":         "Zobrazuji _START_ až _END_ z celkem _TOTAL_ záznamů",
          "sInfoEmpty":    "Zobrazuji 0 až 0 z 0 záznamů",
          "sInfoFiltered": "(filtrováno z celkem _MAX_ záznamů)",
          "sInfoPostFix":  "",
          "sSearch":       "Hledat:",
          "sUrl":          "",
          "oPaginate": {
             "sFirst":    "První",
             "sPrevious": "Předchozí",
             "sNext":     "Další",
             "sLast":     "Poslední"
          }
        }
 
    });
} );
</script>
#{/if}

#{else}
    <div class="empty">
        &{'noRecords'}
    </div>
#{/else}
