<!DOCTYPE html>

<html>
  <head>
    <title>#{get 'title' /}</title>
    <meta charset="${_response_encoding}">
    <link rel="stylesheet" media="screen,projection" href="@{'/public/stylesheets/blueprint/screen.css'}" type="text/css">
    <link rel="stylesheet" media="print" href="@{'/public/stylesheets/blueprint/print.css'}" type="text/css">
    <!--[if lt IE 8]><link rel="stylesheet" media="screen,projection" href="@{'/public/stylesheets/blueprint/ie.css'}" type="text/css"><![endif]-->
    <link rel="stylesheet" media="screen,projection" href="@{'/public/stylesheets/main.css'}" type="text/css">
    
    
    <link rel="stylesheet" media="screen" href="@{'/public/stylesheets/demo_table_jui.css'}">
    <link rel="stylesheet" media="screen" href="@{'/public/stylesheets/jquery.ui.all.css'}">
    <link rel="stylesheet" media="screen" href="@{'/public/stylesheets/jquery-ui-1.8.16.custom.css'}">
    
    #{get 'moreStyles' /}
    <link rel="shortcut icon" type="image/png" href="@{'/public/images/favicon.png'}">
    <script src="@{'/public/javascripts/jquery-1.6.4.min.js'}" type="text/javascript" charset="${_response_encoding}"></script>
    <script src="@{'/public/javascripts/jquery-ui-1.8.16.custom.min.js'}" type="text/javascript" charset="${_response_encoding}"></script>
    <script src="@{'/public/javascripts/jquery.dataTables.min.js'}" type="text/javascript" charset="${_response_encoding}"></script>

    #{get 'moreScripts' /}
  </head>
  <body>
    <div class="container">
    <div class="column span-24 last" id="header">
      <h1>Evidence pacientů</h1>
#{if connected}
      <p>
        ${connected?.jmeno}, ${connected?.modul} <br>
        ${request.remoteAddress} <a href="@{Secure.logout()}">Odhlášení</a>
      </p>
#{/if}      
    </div>

<div class="column span-24 last prepend-top " id="menu">
    
#{if connected}     
    	<ul>
    		<li><a href="#tabs-1">Pacienti</a></li>
    		<li><a href="#tabs-2">Nastavení</a></li>
    		<li><a href="#tabs-3">Tiskové sestavy</a></li>
        <li><a href="#tabs-4">Import</a></li>
    	</ul>
    	<div id="tabs-1">
        <ul>
         <li><a href="@{Patients.index()}">Pacienti</a></li>
         <li><a href="@{Patients.form()}">Nový pacient</a></li>
        </ul>
    	</div>
    	<div id="tabs-2">
        <ul>
         <li><a href="@{InsuranceCompanies.index()}">Pojišťovny</a></li>
         <li><a href="@{Doctors.index()}">Lékaři</a></li>
        </ul>
    	</div>
    	<div id="tabs-3">
        <ul>
         <li><a href="@{Forms.index("neprovedena-vysetreni")}">Neprovedená vyš.</a></li>
         <li><a href="@{Forms.index("pocty-vzorku")}">Počty vzorků</a></li>
         <li><a href="@{Forms.neizolovana()}">Neizolovaná DNA</a></li>
         <li>štítky</li>
        </ul>
    	</div>
    	<div id="tabs-4">
        <li><a href="@{Forms.vyslImport()}">Import výsledků</a></li>
    	</div>
#{/if}      	
    </div>

    <div id="main"  class="column span-24 last prepend-top append-bottom">
      <h1>#{get 'title' /}</h1>

      #{if flash.error}
          <p class="error">
              <strong>${flash.error} </strong>
          </p>
      #{/if}
      #{if flash.success}
          <p class="success">
              <strong>${flash.success} </strong>
          </p>
      #{/if}

      #{doLayout /}
    </div>
    
    <div class="span-24 last prepend-top" id="footer">
      #{secure.check 'admin'}
      <ul>
        <li><a href="@{Patients.list()}">Pacienti</a></li>
        <li><a href="@{Reports.list()}">Závěrečné zprávy</a></li>
        <li><a href="@{BioMaterials.list()}">Biologické materiály</a></li>
        <li><a href="@{Examinations.list()}">Vyšetření</a></li>
        <li><a href="@{Genotypes.list()}">Genotypy</a></li>
        <li><a href="@{Results.list()}">Výsledky</a></li>
        <li><a href="@{InsuranceCompanies.list()}">Pojišťovny</a></li>
        <li><a href="@{Doctors.list()}">Lékaři</a></li>
        <li><a href="@{Users.list()}">Uživatelé</a></li>
        <li><a href="@{AppModuls.list()}">Moduly</a></li>
      </ul>
      #{/secure.check}
    </div>
  </div> <!-- container -->


	<script>
#{if connected}
	$(function() {
	  var sel = 0;

    #{if request.action.equals("Forms.vyslImport")} sel = 3;#{/if}
    #{elseif request.controller.equals("Forms")} sel = 2;#{/elseif}
    #{elseif request.controller.equals("Doctors")} sel = 1;#{/elseif}
    #{elseif request.controller.equals("InsuranceCompanies")} sel = 1;#{/elseif}

	  
		$( "#menu" ).tabs({selected: sel});
	});
#{/if}
	$(function() {
		$( "a", "#header" ).button();
    $( "a", "span.button" ).button();
    $( "input:submit").button();             
	});

	</script>
  </body>
</html>
