<!DOCTYPE html>

<html>
  <head>
    <title>#{get 'title' /}</title>
    <meta charset="${_response_encoding}">
    <link rel="shortcut icon" type="image/png" href="@{'/public/images/favicon.png'}">
    <!-- blueprint -->
    <link rel="stylesheet" media="screen,projection" href="@{'/public/stylesheets/blueprint/screen.css'}" type="text/css">
    <link rel="stylesheet" media="print" href="@{'/public/stylesheets/blueprint/print.css'}" type="text/css">
    <!--[if lt IE 8]><link rel="stylesheet" media="screen,projection" href="@{'/public/stylesheets/blueprint/ie.css'}" type="text/css"><![endif]-->

    <link rel="stylesheet" media="screen,projection" href="@{'/public/stylesheets/main.css'}" type="text/css">

    <!-- jqueryui -->
		<link type="text/css" href="@{'/public/stylesheets/jqueryui/jquery-ui-1.8.18.custom.css'}" rel="stylesheet" />
		<script type="text/javascript" src="@{'/public/javascripts/jquery-1.7.1.min.js'}"></script>
		<script type="text/javascript" src="@{'/public/javascripts/jquery-ui-1.8.18.custom.min.js'}"></script>
    <script type="text/javascript" src="@{'/public/javascripts/jquery.ui.datepicker-cs.js'}"></script>

    <!-- datatable -->
    <link rel="stylesheet" media="screen" href="@{'/public/stylesheets/demo_table_jui.css'}">
    <script type="text/javascript" src="@{'/public/javascripts/jquery.dataTables.min.js'}" charset="${_response_encoding}"></script>

    #{get 'moreStyles' /}
    #{get 'moreScripts' /}
  </head>
  <body>
    <div class="noprint" id="header">
      <div class="inside">
      <h1>Evidence pacientů <span id="version">${appVersion} </span></h1>
#{if connected}
      <p>
        <a href="@{AppModuls.uziv()}" title="&{'profil.nastaveni'}">${connected?.jmeno}</a>,
        <a href="@{AppModuls.form()}" title="&{'modul.nastaveni'}">${connected?.modul}</a>
        <span><a href="@{Secure.logout()}">Odhlášení</a></span>
      </p>
#{/if}
    </div>
    </div> <!-- header -->
    <div class="container">

    <div class="column span-24 last noprint" id="menu">
#{if connected}
    	<ul>
        #{if connected.isAdmin || connected.isDoctor}
    		<li><a href="#tabs-1">Pacienti</a></li>
    		<li><a href="#tabs-2">Tiskové sestavy</a></li>
        <li><a href="#tabs-3">Import</a></li>
        <li><a href="#tabs-4">Nastavení</a></li>
        #{/if}
        <li><a href="#tabs-5">Statistika</a></li>
    	</ul>
      #{if connected.isAdmin || connected.isDoctor}
    	<div id="tabs-1">
        <ul>
         <li><a href="@{Patients.index()}">Seznam pacientů</a></li>
         <li><a href="@{Patients.archiv()}">Archiv</a></li>
         <li><a href="@{Patients.form()}">Nový pacient</a></li>
        </ul>
    	</div>
    	<div id="tabs-2">
        <ul>
         <li><a href="@{Forms.index("neprovedena-vysetreni")}">Neprovedená vyšetření</a></li>
         <li><a href="@{Forms.neizolovana()}">Neizolovaná DNA</a></li>
         <li><a href="@{Forms.stitky()}">Štítky</a></li>
        </ul>
    	</div>
    	<div id="tabs-3">
        <ul>
          <li><a href="@{Forms.vyslImport()}">Import výsledků</a></li>
        </ul>
    	</div>
    	<div id="tabs-4">
        <ul>
         <li><a href="@{InsuranceCompanies.index()}">Pojišťovny</a></li>
         <li><a href="@{Doctors.index()}">Lékaři</a></li>
         <li><a href="@{Forms.log()}">Log</a></li>
        </ul>
    	</div>
      #{/if}
    	<div id="tabs-5">
        <ul>
         <li><a href="@{Forms.index("pocty-vzorku")}">Počty vzorků od lékařů</a></li>
         <li><a href="@{Forms.index("pocty-vysetreni-lekar")}">Počty vyšetření od lékaře</a></li>
         <li><a href="@{Forms.poctyVysetreni()}">Počty vyšetření</a></li>
         <li><a href="@{Forms.poctyUlozenych()}">Počty uložených vzorku</a></li>
        </ul>
    	</div>
#{/if}      	
    </div> <!-- menu -->

    <div id="main"  class="column span-24 last prepend-top append-bottom">
      #{if title}
      <h1>#{get 'title' /}</h1>
      #{/if}

      #{if flash.error}
          <p class="error">
              <strong>${flash.error} </strong>
          </p>
      #{/if}
      #{if flash.success}
          <p class="success">
              <strong>${flash.success} </strong>
          </p>
      #{/if}

      #{doLayout /}
    </div> <!-- main -->
    #{secure.check 'admin'}
    <div class="span-24 last prepend-top noprint" id="footer">
      <ul>
        <li><a href="@{Patients.list()}">Pacienti</a></li>
        <li><a href="@{Reports.list()}">Závěrečné zprávy</a></li>
        <li><a href="@{BioMaterials.list()}">Biologické materiály</a></li>
        <li><a href="@{Examinations.list()}">Vyšetření</a></li>
        <li><a href="@{Genotypes.list()}">Genotypy</a></li>
        <li><a href="@{InsuranceCompanies.list()}">Pojišťovny</a></li>
        <li><a href="@{Doctors.list()}">Lékaři</a></li>
        <li><a href="@{Users.list()}">Uživatelé</a></li>
        <li><a href="@{AppModuls.list()}">Moduly</a></li>
        <li><a href="@{Operations.list()}">Výkony</a></li>
        <li><a href="@{Scores.list()}">Bodové ohodnocení</a></li>
      </ul>
    </div> <!-- footer -->
    #{/secure.check}
  </div> <!-- container -->


	<script type="text/javascript">
#{if connected}
	$(function() {
	  var sel = 0;

    #{if request.action.equals("Forms.vyslImport")} sel = 2;#{/if}
    #{elseif request.action.equals("Forms.log")} sel = 3;#{/elseif}
    #{elseif request.action.equals("Forms.poctyVzorku") || request.path.contains("pocty-vzorku") || request.path.contains("pocty-vysetreni-lekar")} sel = 4;#{/elseif}
    #{elseif request.action.equals("Forms.poctyVysetreni")} sel = 4;#{/elseif}
    #{elseif request.action.equals("Forms.poctyUlozenych")} sel = 4;#{/elseif}
    #{elseif request.controller.equals("Forms")} sel = 1;#{/elseif}
    #{elseif request.controller.equals("Doctors")} sel = 3;#{/elseif}
    #{elseif request.controller.equals("InsuranceCompanies")} sel = 3;#{/elseif}

		$( "#menu" ).tabs({selected: sel});

    //$( "#menu" ).tabs({select: function(event, ui) {}});
	});
#{/if}

	$(function() {
    $( "a", "span.button" ).button();
    $( "input:submit").button();             
	});


  var calSetup = {
		showOn: "button",
    buttonImage: "@{'/public/images/calendar.png'}",
    buttonText: "&{'kalendar.title'}",
		buttonImageOnly: true
	};
  $.datepicker.setDefaults(calSetup);


	</script>
  </body>
</html>
